ardour8
Arduino IDE/
arduino-ide/
Arduino
asm-lsp
autostart
balenaEtcher
BraveSoftware
btop
cava
cef_user_data
chromium
Cody-nodejs
composer
dconf
discord
dlv
droidcam
Electron
exercism
flameshot
gh
ghc
GIMP
github-copilot
go
gprename
gtk-2.0
gtk-3.0
guvcview2
htop
home-manager
HTTPie
ic005k
JetBrains
jgit
Kingsoft
Ladybird
libreoffice
libvirt
LM Studio
menus
mimeapps.list
mpd/playlists
mpd/log
mpd/mpd.db
mpd/mpdstate
ncmpcpp/lyrics
nitrogen
nix
ngrok
nushell/history.txt
nvim-bkp
nvim-starter
obsidian
OCAuxiliaryTools
omf
onlyoffice
pavucontrol.ini
pomotroid
Postman
pulse
qBittorrent
QtProject.conf
racket
ranger
spotify-player
systemd
Thunar
unity3d
unityhub
user-dirs.dirs
user-dirs.locale
uv
vlc
wezterm
wireshark
xfce4
yay
yazi
zed
